{% extends 'base.html.twig' %}

{% block title %}Spartacademy
{% endblock %}

{% block body %}

	<main>
		<div class="main">
			<div class="image-gallery">
				<div class="gallery-container">
					{% for gallery in gallery %}
						<img src="img{{ asset(gallery.imagePath) }}" alt="{{ gallery.label }}" style="height: 300px;" class="{% if loop.first %}visible{% else %}invisible{% endif %}">
					{% endfor %}
				</div>
			</div>
			<div>
				<div class="first-paragraph">
					<div class="first-paragraph-title">
						<h2>Notre sport</h2>
						<h3>
							<em>Spartan, OCR, c'est quoi ?</em>
						</h3>
					</div>
					<div class="p-4 main-paragraph">
						Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI. Blabla explicatif sur la course à obstacles ICI.
						<div class="d-flex">
							<img src="{{ asset('img/spartan.png') }}" alt="logo spartan" style="width : 50%">
							<img src="{{ asset('img/ocrwc.png') }}" alt="logo ocr" style="width : 50%">
						</div>
					</div>
				</div>
				<div class="second-paragraph">
					<div class="second-paragraph-title">
						<div class="d-flex second-paragraph-title-one">
							<img src="{{ asset('img/logo_casque.jpg') }}" alt="little logo spartacademy" style="width : 10%">
							<h2 class="d-flex align-items-center">A propos</h2>
						</div>
						<h3 class="second-paragraph-title-two">
							<em>Le club Spartacademy, qui sommes nous ?</em>
						</h3>
					</div>
					<div class="p-4 main-paragraph-two">
						Blabla explicatif sur la création du club, les personnes, le coach mais pas tout car les plus larges explications seront dans les onglets ... Quelques photos sympa mais pas grosses.
					</div>
				</div>
				<div class="third-paragraph">
					<div class="third-paragraph-title">
						<div class="d-flex third-paragraph-title-one">
							<img src="{{ asset('img/logo_casque.jpg') }}" alt="little logo spartacademy" style="width : 10%">
							<h2 class="d-flex align-items-center">Notre préparation</h2>
						</div>
						<h3 class="third-paragraph-title-two">
							<em>Stages, entrainements, préparation sur mesure...</em>
						</h3>
					</div>
					<div class="p-4 main-paragraph">
						Blabla explicatif sur les stages, les prépa, les résultats, les entrainements mais pas tout car les plus larges explications seront dans les onglets ... Quelques vidéos et ou photos sympa? -> entrainement d’essai gratuit !
					</div>
				</div>
				<div class="fourth-paragraph">
					<div class="d-flex flex-column align-items-end fourth-paragraph-title">
						<h2>Les plus</h2>
						<h3>
							<em>Presse, médias, livres, tenues...</em>
						</h3>
					</div>
					<div class="p-4 main-paragraph">
						Blabla explicatif Articles, médias, livres, tenues... Blabla explicatif Articles, médias, livres, tenues... Blabla explicatif Articles, médias, livres, tenues... Blabla explicatif Articles, médias, livres, tenues... Blabla explicatif Articles, médias, livres, tenues... Blabla explicatif Articles, médias, livres, tenues... Blabla explicatif Articles, médias, livres, tenues... Blabla explicatif Articles, médias, livres, tenues... Blabla explicatif Articles, médias, livres, tenues... Blabla explicatif Articles, médias, livres, tenues... Blabla explicatif Articles, médias, livres, tenues...
					</div>
				</div>
			</div>
			<div>
				<div>
					<div class="d-flex contact-paragraph-title">
						<h2>Nous contacter</h2>
					</div>
					<div class="contact-paragraph">
						<div>
							<div>
								<div class="place">
									<h3>SPARTACADEMY</h3>
									<div class="info-place">
										<div>Chemin du Sacré Coeur</div>
										<div>66000 Perpignan</div>
									</div>
									<div class="info-place">spartacademy-contact@gmail.com</div>
									<div class="info-place">06 12 44 39 32</div>
								</div>
								<div class="hours">
									<h3>HORAIRES</h3>
									<div class="d-flex flex-row info-hours">
										<div>
											<div>Lundi</div>
											<div>Mardi</div>
											<div>Mercredi</div>
											<div>Jeudi</div>
											<div>Vendredi</div>
											<div>Samedi</div>
											<div>Dimanche</div>
										</div>
										<div class="time-training info-hours">
											<div>07:00-20:00</div>
											<div>07:00-20:00</div>
											<div>07:00-20:00</div>
											<div>07:00-20:00</div>
											<div>07:00-20:00</div>
											<div>07:00-20:00</div>
											<div>Fermé</div>
										</div>
									</div>
								</div>
							</div>
							<div class="maps">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2931.499119980306!2d2.873476891086187!3d42.71432543829974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b06fc143c91a09%3A0x19c457e861312c1d!2sSpartacademy!5e0!3m2!1sfr!2sfr!4v1699965920902!5m2!1sfr!2sfr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</div>
						<div>
							<div class="form-contact">
								<h3>FORMULAIRE DE CONTACT</h3>

								{{ form_start(form) }}

								<div class="d-flex form-group">
									{{ form_widget(form.name, {'attr': {'class': 'form-control-sm w-100 rounded'}}) }}
									{{ form_errors(form.name) }}
								</div>

								<div class="d-flex form-group">
									{{ form_widget(form.firstname, {'attr': {'class': 'form-control-sm w-100 rounded'}}) }}
									{{ form_errors(form.firstname) }}
								</div>

								<div class="d-flex form-group">
									{{ form_widget(form.phone, {'attr': {'class': 'form-control-sm w-100 rounded'}}) }}
								</div>

								<div class="d-flex form-group">
									{{ form_widget(form.email, {'attr': {'class': 'form-control-sm w-100 rounded'}}) }}
									{{ form_errors(form.email) }}
								</div>

								<div class="d-flex form-group">
									{{ form_widget(form.message, {'attr': {'class': 'form-control-sm w-100 rounded'}}) }}
									{{ form_errors(form.message) }}
								</div>

								<div class="d-flex justify-content-end">
									<button type="submit" class="d-flex button-contact">Envoyer message</button>
								</div>

								{{ form_end(form) }}

								{% include "home/popupContact.html.twig" %}

								<span class="d-flex asterix">Les champs indiqués par un astérisque (*) sont obligatoires</span>
							</div>
							<div class="d-flex flex-row">
								<span class="sentence-about-media" style="width : 50%">
									<em>Retrouvez-nous également sur les réseaux sociaux !</em>
								</span>
								<div
									class="social-media d-flex align-items-center justify-content-center" style="width : 50%">
									{# TODO: ajouter les liens sur les icones pour les réseaux sociaux #}
									<i class="icon-social-media1 fa-brands fa-facebook-f"></i>
									<i class="icon-social-media2 fa-brands fa-instagram"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
